.container {
    position: relative;
    color: #333;
    font-family: Arial, Helvetica, sans-serif;
}

.pages {
    position: relative;
}

.page {
    position: absolute;
    width: 300px;
    height: 350px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 25px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    background-color: #fff;
    transition: all 0.8s ease;
}


.rentScooter {
    position: relative;
    width: 300px;
    height: 350px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 25px;
    cursor: pointer;
    overflow: hidden;
}

.rentScooter:hover > img {
    transform: scale(1.2);
}

.rentScooter img {
    position: absolute;
    width: 100%;
    border-radius: inherit;
    transition: all 0.3s linear;
}

.rentScooter p {
    position: absolute;
    height: 100%;
    width: 100%;
    text-align: center;
    top: 50%;
    transform: translate(0%, -10%);
    padding: 10px;

    color: #ffffff;
    font-weight: bold;
    font-size: 1.5rem;
}


.commitRental {
    padding: 15px;
}

.commitRental button {
    width: 100%;
    margin-top: 10px;
    border-radius: 5px;
    cursor: pointer;
}

#btnReserve {
    background: #fc5439;
    border: 1px solid #fc5439;
}

#btnCancel {
    background: #333;
    border: 1px solid #333;
    color: #ededed;
}

#page_headline {
    margin: 5px;
    width: 100%;
    text-align: left;
    font-size: 1.5rem;
    margin-top: 10px;
    color: #fc5439;
    font-weight: bold;
}

.content {
    margin: 5px;
}

#label {
    margin-top: 10px;
    margin-bottom: 0px;
}

.invalid {
    border: 1px solid red;
}

input {
    margin-top: 0px;
}

.buttons {
    position: absolute;
    bottom: 15px;
    left: 0;
    right: 0;
    padding: 15px;
    font-size: 1.2rem;
}

.successRental {
    position: relative;
    background: #333;
    border-radius: inherit;
    height: inherit;
    height: 350px;
    overflow: hidden;
}

.successRental .text {
    position: absolute;
    height: 100%;
    width: 100%;
    text-align: center;
    top: 50%;
    transform: translate(0%, -28%);
    padding: 10px;

    color: #ffffff;
    font-size: 1rem;
}

#btnBack {
    background: #fc5439;
    border: 1px solid #fc5439;
    padding: 5px 20px;
    border-radius: 5px;
    cursor: pointer;
}



.text .heading {
    font-weight: bold;
    font-size: 1.5rem;
}

#scooterImageSuccess {
    position: absolute;
    width: 100%;
    border-radius: inherit;
    transition: all 0.3s linear;
}

.rotated{
    transform: rotateY(180deg);
}
